<!DOCTYPE html>
<html lang="pl">
<head>
{# ################# Zestad narzędzi Bootstrap ################# #}
  <link href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-5.3.3-dist/font/bootstrap-icons.min.css" rel="stylesheet">
  <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
  {# ################# Zestad narzędzi Bootstrap ################# #}
  {% block head %}
  <title>ModularOne - {% block title %}app/module name and/or page context{% endblock %}</title>
  {% endblock %}
</head>

<body>
 {# ########################## NAWIGACJA #################################### #}
<nav class="navbar bg-body-tertiary fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ModularOne - {{ data['app'] }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ data['app'] }} {{ data['ver'] }} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           {% block navbar %}
  <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/test">Page "test"</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Zmienne w url/kroki
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/steps/1">Step 1</a></li>
              <li><a class="dropdown-item" href="/steps/2">Step 2</a></li>
              <li><a class="dropdown-item" href="/steps/3">Step 3</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/123123">404 test</a></li>
            </ul>
          </li>
          <li><a class="nav-link" href="#">Wyloguj</a></li>
  {% endblock %}
        </ul>
      </div>
    </div>
  </div>
</nav> 


{# ########################## ZAWARTOŚĆ/APLIKACJA ##############################################  #}
  <div class="container-fluid " id="content" style="margin-top:75px; min-height: 600px;">
    {% block content%}

      Main app content
    
    {% endblock %}

  <p>Bootstrap pomocniki</p>
   <p><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"><strong>Docs »</strong></a></p>
  <p><a href="https://icons.getbootstrap.com/"><strong>Explore Bootstrap Icons »</strong></a></p>


  </div>

  {# #################################### STOPKA ################################################# #}
  <div  id="footer" class="container-fluid text-center bg-body-tertiary py-3 mt-2">
      <div class="row">
        <div class="col-6">
          {% block footer1 %}
          <strong>ModularOne {{ data['app'] }} {{ data['ver'] }}</strong> <br>
          {{ data['about'] }}
          {% endblock %}
        </div>
        <div class="col-6">
          {% block footer2 %}
          <a href="https://sitaniec.pl" target="_blank"><img src="{{ url_for('static', filename='img/smachines_180x52.png') }}" ></a>
           <br>
           © S-Machines Sp. z o.o. 2024 
          {% endblock %}
        </div>
      </div>
    </div>
  {# koniec STOPKI #}
  

  {% block additions%}
  {# Dodatkowe skrypty, floating windows, modale itp #}
  {% endblock %}
</body>

</html>